* {
  font-family: 'Helvetica', Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 10px;
}

html,
body {
  height: 100%;
  width: 100%;
}

.body {
  background: #ffffff;
}

.page-content {
  display: visible;
}

.page-content.active {
  display: none;
}

.project-content {
  margin-top: 80px;
}

.project-section {
  opacity: 0;
  transform: translate(0, 20px); transition: all 1.5s;
}

.project-section.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.body.active {
  background: #f5f5f5;
}

.header {
  position: absolute;
  top: 40%;
  left: 9%;
}

.title {
  font-size: 5rem;
  font-weight: bold;
}
.sub-title {
  color: #c5c5c5;
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
}
/* Section Styles */

section {
  height: 100vh;
  width: 100%;
}

.project-title {
  font-size: 5rem;
  font-weight: bold;
}

.project-subtitle {
  color: #c5c5c5;
  font-size: 2rem;
  font-weight: 300;
}
.project-text {
  font-size: 2rem;
  margin-top: 6rem;
}

.project-link {
  margin-top: 6rem;
}

.project-button {
transition-duration: 0.4s;
padding: 1em 1.5em;
font-size: 12px;
background-color: black;
color: white;
border: none;
}

.project-button:hover {
  background-color: white;
  color: black;
}

.project-image > a > img {
  width: 100%;
  box-shadow: -15px 15px 24px -15px #111;
}

.section{
  opacity: 0;
  transform: translate(0, 20px); transition: all 1.5s;
}

.section.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.home{
  opacity: 0;
  transform: translate(0, 20px); transition: all 1.5s;
}
.home.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.home.active {
  display: hidden;
}

.about-header {
  position: absolute;
  top: 20%;
  left: 9%;
  right: 9%;
}

.about {
  opacity: 0;
  transform: translate(0, 20px); transition: all 1.5s;
}

.about.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.about.active {
  display: hidden;
}

.about-title{
  font-size: 4rem;
  font-weight: bold;
}

.about-subtitle {
  color: #242424;
  font-size: 2rem;
  font-weight: 300;
}

.about-text {
  font-size: 2rem;
  margin-top: 6rem;
}

.text-link {
  text-decoration: underline;
  color: lightskyblue;
  font-size: 2rem;
}

@media only screen and (max-width: 641px){
  .section-break {
    height: 50px;

  }
  .project-button {
    display: none;
  }
  .project-one {
    display: none;
  }
}

@media (min-width:1025px){
  .title {
    font-size: 9rem;
    font-weight: bold;
  }
  .project-title {
    font-size: 5rem;
    font-weight: bold;
  }
  .project-text {
    margin-right: 10rem;
  }
  .about-text {
    margin-right: 50rem;
    color: #c5c5c5;
    font-family: 'Helvetica', Arial, sans-serif;
  }
}