* {
  font-family: 'Helvetica', Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
}

.body {
  background: #ffffff;
}

.page-content {
  display: visible;
}
.page-content h1 {
  font-size: 3rem;
    font-weight: 500;
}
.page-content.active {
  display: none;
}

#projects {
  padding-top: 100px;
}
.project-section {
  margin-top: 150px;
  height: auto;
  padding-bottom: 300px;
}

.project-section {
  
  opacity: 0;
  transform: translate(0, 20px); transition: all 1.5s;
}

.project-section.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.body.active {
  background: #f5f5f5;
}

.header {
  position: absolute;
  top: 40%;
  left: 0%;
}

.sub-title {
  color: #c5c5c5;
  font-size: 22px;
  font-weight: 500;
  margin-right: 30%;
  /* position: absolute; */
  text-align: left;
}
/* Section Styles */

section {
    height: 100vh;
    width: 100%;
}

.project-section{
  margin-top: 1px;
}
#home
{
    height: 100vh;
  width: 100%;
  text-align: left;
  
    
}

.project-subtitle {
  color: #c5c5c5;
  font-size: 15px;
  font-weight: 300;
}
.project-text {
  font-size: 12px;
  margin-top: 20px;
}

.project-link {
  margin-top: 5px;
  float: right;
}

.project-button {
transition-duration: 0.4s;
padding: 10px 25px;
display: none;
font-size: 12px;
font-weight: 900;
border-radius: 5.555555555555555rem;
background-color: black;
color: white;
border: none;
margin-left: 40%;
margin-bottom: 10px;
/* border: 2px solid black; */
letter-spacing: 2px;
}

.project-button:hover {
  background-color: white;
 box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);;
  color: black;
}

.project-view-height {
  height: 45px; 
}

.project-image > a > img {
  width: 100%;
  box-shadow: -15px 15px 24px -15px #111;
}

.section{
  opacity: 0;
  transform: translate(0, 20px); transition: all 1.5s;
}

.section.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.home{
  opacity: 0;
  transform: translate(0, 20px); transition: all 1.5s;
}
.home.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.home.active {
  display: hidden;
}

.about-header {
  position: absolute;
  top: 20%;
  left: 5%;
  right: 2%;
}

.about {
  opacity: 0;
  transform: translate(0, 20px); transition: all 1.5s;
}

.about.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.about.active {
  display: hidden;
}

.about-title{
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Helvetica', Arial, sans-serif;
}

.about-subtitle {
  color: #242424;
  font-size: 2rem;
  font-weight: 300;
}

.about-text {
  font-size: 2rem;
  margin-top: 6rem;
  font-family: 'Helvetica', Arial, sans-serif;
  color: grey;
}
#about
{
    height: 100vh;
  width: 100%; 
    
    }
.text-link {
  text-decoration: underline;
  color: lightskyblue;
  font-size: 1.5rem;
}
.project-title {
  letter-spacing: -2px;/*
  font-style: normal;
  font-size: 40px;
  text-align: left;
  font-weight: 900 ; */
  font-size: 40px;
    font-weight: bold;
    text-align: left;
}
.project-subtitle{
  text-align: left;
}
.project-text{
  text-align: left;
  margin-right: 50px;
  padding-bottom: 10px;
}


.title-about{
  font-size: 70px;
}
.project-button{
  margin: 0;
}
.about-text {
  color: #242424;
  text-align: left;
  font-size: 18px;
  font-family: 'Helvetica', Arial, sans-serif;
}

 @media only screen and (max-width: 650px){
 
.page-content h1 {
  font-size: 3rem;
    font-weight: 500; 
  
} 
.project-section {
  height: auto;
  padding-bottom: 300px;
}
.sub-title {
  color: #c5c5c5;
  font-size: 12px;
  font-weight: 500;
  margin-right: 10PX;
  text-align: left;
}
#home {
  height: 150vh !important;
  width: 100%;
  text-align: left;
}
.header{
  top:27%;
}

.project-link{
margin: 0;
float: left;
margin-right: 50%;
}
.project-title{
  font-size: 20px;
}
.project-text{
  font-size: 12px;
  margin-right: 0;
}
.title-about{
font-size: 45px;
}
.about-text{
  text-align: left;
  font-size: 18px;
  padding-bottom: 20px;
}
} 

@media only screen and (min-width:1025px){
  html {
    scroll-behavior: smooth;
  }
  #project_Page{
    display: block;
  }
  #home{
    margin-bottom: -240px;
    /* height: 100vh; */
    width: 100%;

  }
  
  .page-content h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-right: 0;
    
  }
  .project-subtitle{
    text-align: left;
    font-size: 22px;
  }
  .sub-title {
    color: #c5c5c5;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    text-align: l;
  }
  .project-title {
    font-size: 3rem;
    font-weight: 500; 
    text-align: left;
  }
.project-section{
  margin-top: 140px;
  height: auto;
  padding-bottom: 200px;
  
  
}

  .title-about{
    color: rgb(0, 0, 0);
    line-height: 5.333333333333333rem;
    font-family: 'Helvetica', Arial, sans-serif;
    letter-spacing: -2px;
    font-style: normal;
    font-size: 70px;
    font-weight: 900 ;
  }
  .project-text {
    margin-right: 10rem;
    font-size: 18px;
    text-align: left;
  }
  .project-button{
    margin-left: 0;
    display: block;
  }
  .project-link{
    float: left;
  }
  .about-text {
    margin-right: 50%;
    line-height: 35px;
    font-size: 18px;
    color: grey;
    text-align: left;
    font-family: 'Helvetica', Arial, sans-serif;
  }
}